In [1]:
import pycmap
import json

In [2]:
with open("../../../../.secrets") as f:
    secrets = json.load(f)
    cmap_token = secrets["simonscmap"]
cmap_api = pycmap.API(token=cmap_token)

## Dataset

---

In [3]:
raw_data = cmap_api.get_dataset("tblBATS_Zooplankton_Biomass")

/Users/ash/Documents/Workspaces/PhD/seapopym-data/.venv/lib/python3.12/site-packages/pycmap/rest.py:334: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(df['JSON_stats'][0])
/Users/ash/Documents/Workspaces/PhD/seapopym-data/.venv/lib/python3.12/site-packages/pycmap/rest.py:335: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  rows = int(df.loc[['count'], 'lat'])

In [4]:
raw_data

,time,lat,lon,depth,time_in,time_out,duration_minutes,volume_water,sieve_size,wet_weight,...,wet_weight_vol_water_ratio,dry_weight_vol_water_ratio,total_wet_weight_volume_all_size_fractions_ratio,total_dry_weight_volume_all_size_fractions_ratio,wet_weight_vol_water_ratio_200m_depth,dry_weight_vol_water_ratio_200m_depth,total_wet_weight_volume_all_size_fractions_200m,total_dry_weight_volume_all_size_fractions_200m,Cruise_ID,UNOLS
0,1995-05-10T00:00:00,31.662500,-64.169167,200.0,2320,2356,36,433.408,200.0,1520.8,...,3.51,0.56,22.90,3.49,701.79,112.04,4580.26,697.82,10080,NaN
1,1995-05-10T00:00:00,31.662500,-64.169167,200.0,2320,2356,36,433.408,500.0,2156.0,...,4.97,0.69,22.90,3.49,994.91,138.62,4580.26,697.82,10080,NaN
2,1995-05-10T00:00:00,31.662500,-64.169167,200.0,2320,2356,36,433.408,1000.0,2550.8,...,5.89,0.91,22.90,3.49,1177.09,182.65,4580.26,697.82,10080,NaN
3,1995-05-10T00:00:00,31.662500,-64.169167,200.0,2320,2356,36,433.408,2000.0,3080.0,...,7.11,1.10,22.90,3.49,1421.29,220.39,4580.26,697.82,10080,NaN
4,1995-05-10T00:00:00,31.662500,-64.169167,200.0,2320,2356,36,433.408,5000.0,618.0,...,1.43,0.22,22.90,3.49,285.18,44.12,4580.26,697.82,10080,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6723,2022-12-13T00:00:00,31.697662,-64.152542,168.7,1249,1324,35,896.071,200.0,1921.2,...,2.14,0.30,6.12,0.91,428.81,60.75,1223.12,181.77,10399,AE2226
6724,2022-12-13T00:00:00,31.697662,-64.152542,168.7,1249,1324,35,896.071,500.0,2432.4,...,2.71,0.39,6.12,0.91,542.90,78.88,1223.12,181.77,10399,AE2226
6725,2022-12-13T00:00:00,31.697662,-64.152542,168.7,1249,1324,35,896.071,1000.0,697.0,...,0.78,0.13,6.12,0.91,155.57,25.40,1223.12,181.77,10399,AE2226
6726,2022-12-13T00:00:00,31.697662,-64.152542,168.7,1249,1324,35,896.071,2000.0,331.4,...,0.37,0.05,6.12,0.91,73.97,10.13,1223.12,181.77,10399,AE2226
6727,2022-12-13T00:00:00,31.697662,-64.152542,168.7,1249,1324,35,896.071,5000.0,98.0,...,0.11,0.03,6.12,0.91,21.87,6.61,1223.12,181.77,10399,AE2226

## Metadata

---

In [5]:
raw_meta = cmap_api.get_dataset_metadata("tblBATS_Zooplankton_Biomass")

In [6]:
raw_meta

,Variable,Table_Name,Long_Name,Unit,Make,Sensor,Process_Level,Study_Domain,Temporal_Resolution,Spatial_Resolution,...,Dataset_Short_Name,Data_Source,Distributor,Dataset_Description,Acknowledgement,Dataset_ID,ID,Visualize,Keywords,Refrences
0,Cruise_ID,tblBATS_Zooplankton_Biomass,Cruise ID,NaN,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Zooplankton_Biomass,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,689,17283,NaN,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
1,dry_weight,tblBATS_Zooplankton_Biomass,Dry Weight,mg,Observation,Zooplankton Net,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Zooplankton_Biomass,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,689,17274,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
2,dry_weight_vol_water_ratio,tblBATS_Zooplankton_Biomass,Dry Weight / Volume of Water,mg/m^3,Observation,Zooplankton Net,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Zooplankton_Biomass,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,689,17276,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
3,dry_weight_vol_water_ratio_200m_depth,tblBATS_Zooplankton_Biomass,Dry Weight / Volume of Water Normailized for 2...,mg/m^3,Observation,Zooplankton Net,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Zooplankton_Biomass,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,689,17280,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
4,duration_minutes,tblBATS_Zooplankton_Biomass,Duration in Minutes,Minutes,Observation,Zooplankton Net,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Zooplankton_Biomass,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,689,17270,NaN,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
5,sieve_size,tblBATS_Zooplankton_Biomass,Sieve Size,um,Observation,Zooplankton Net,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Zooplankton_Biomass,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,689,17272,NaN,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
6,time_in,tblBATS_Zooplankton_Biomass,Time In (local),NaN,Observation,Zooplankton Net,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Zooplankton_Biomass,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,689,17268,NaN,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
7,time_out,tblBATS_Zooplankton_Biomass,Time Out (local),NaN,Observation,Zooplankton Net,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Zooplankton_Biomass,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,689,17269,NaN,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
8,total_dry_weight_volume_all_size_fractions_200m,tblBATS_Zooplankton_Biomass,Total Dry Weight / Volume for all Size Fractio...,mg/m^3,Observation,Zooplankton Net,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Zooplankton_Biomass,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,689,17282,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
9,total_dry_weight_volume_all_size_fractions_ratio,tblBATS_Zooplankton_Biomass,Total Dry Weight / Volume for all Size Fractions,mg/m^3,Observation,Zooplankton Net,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Zooplankton_Biomass,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,689,17278,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
10,total_wet_weight_volume_all_size_fractions_200m,tblBATS_Zooplankton_Biomass,Total Wet Weight / Volume for all Size Fractio...,mg/m^3,Observation,Zooplankton Net,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Zooplankton_Biomass,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,689,17281,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
11,total_wet_weight_volume_all_size_fractions_ratio,tblBATS_Zooplankton_Biomass,Total Wet Weight / Volume for all Size Fractions,mg/m^3,Observation,Zooplankton Net,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Zooplankton_Biomass,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,689,17277,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
12,UNOLS,tblBATS_Zooplankton_Biomass,UNOLS Cruise Name,NaN,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Zooplankton_Biomass,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,689,17284,NaN,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
13,volume_water,tblBATS_Zooplankton_Biomass,Volume of Water,m^3,Observation,Zooplankton Net,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Zooplankton_Biomass,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,689,17271,NaN,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
14,wet_weight,tblBATS_Zooplankton_Biomass,Wet Weight,mg,Observation,Zooplankton Net,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Zooplankton_Biomass,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,689,17273,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
15,wet_weight_vol_water_ratio,tblBATS_Zooplankton_Biomass,Wet Weight / Volume of Water,mg/m^3,Observation,Zooplankton Net,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Zooplankton_Biomass,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,689,17275,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN
16,wet_weight_vol_water_ratio_200m_depth,tblBATS_Zooplankton_Biomass,Wet Weight / Volume of Water Normailized for 2...,mg/m^3,Observation,Zooplankton Net,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Zooplankton_Biomass,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,689,17279,1.0,"AE0811, AE0813, AE0816, AE0820, AE0823, AE0826...",NaN

## Export

---

In [8]:
raw_data.to_csv("../../1_raw/bats_zooplankton.csv")
raw_meta.to_csv("../../1_raw/bats_zooplankton_meta.csv")