In [2]:
import pycmap
import json

In [3]:
with open("../../../../.secrets") as f:
    secrets = json.load(f)
    cmap_token = secrets["simonscmap"]
cmap_api = pycmap.API(token=cmap_token)

## Dataset

---

In [4]:
raw_data = cmap_api.get_dataset("tblBATS_Primary_Production")

/Users/ash/Documents/Workspaces/PhD/seapopym-data/.venv/lib/python3.12/site-packages/pycmap/rest.py:334: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(df['JSON_stats'][0])
/Users/ash/Documents/Workspaces/PhD/seapopym-data/.venv/lib/python3.12/site-packages/pycmap/rest.py:335: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  rows = int(df.loc[['count'], 'lat'])

In [5]:
raw_data

,time,lat,lon,depth,time_out,Lat_out,Long_out,pres,temp,salt,lt1,lt2,lt3,dark,t0,pp,Cruise_ID,niskin_flag,UNOLS
0,1988-12-18T00:00:00,31.669,-64.049,5.0,1988-12-18T00:00,NaN,NaN,NaN,NaN,NaN,7.21,6.59,NaN,0.75,1.26,6.15,1000308101,2,NaN
1,1988-12-18T00:00:00,31.669,-64.049,25.0,1988-12-18T00:00,NaN,NaN,NaN,NaN,NaN,6.00,NaN,NaN,NaN,1.97,NaN,1000308102,2,NaN
2,1988-12-18T00:00:00,31.669,-64.049,50.0,1988-12-18T00:00,NaN,NaN,NaN,NaN,NaN,3.62,2.69,3.19,1.02,1.57,2.15,1000308103,2,NaN
3,1988-12-18T00:00:00,31.669,-64.049,75.0,1988-12-18T00:00,NaN,NaN,NaN,NaN,NaN,2.21,1.40,1.55,1.43,1.47,0.29,1000308104,2,NaN
4,1988-12-18T00:00:00,31.669,-64.049,100.0,1988-12-18T00:00,NaN,NaN,NaN,NaN,NaN,1.15,1.78,8.48,0.95,1.46,2.85,1000308105,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3517,2022-12-16T08:11:00,31.668,-64.167,61.5,2022-12-16T08:52,31.678,-64.172,61.9,22.645,36.628,5.94,3.71,5.48,3.03,2.15,2.01,1039901907,2,AE2226
3518,2022-12-16T08:11:00,31.668,-64.167,79.7,2022-12-16T08:52,31.678,-64.172,80.3,22.639,36.625,2.70,2.36,3.20,4.21,1.48,-1.46,1039901910,2,AE2226
3519,2022-12-16T08:11:00,31.668,-64.167,101.8,2022-12-16T08:52,31.678,-64.172,102.6,22.558,36.626,3.84,3.16,4.26,4.42,5.69,-0.67,1039901911,2,AE2226
3520,2022-12-16T08:11:00,31.668,-64.167,122.5,2022-12-16T08:52,31.678,-64.172,123.4,20.726,36.731,2.24,2.02,1.57,2.53,1.14,-0.59,1039901913,2,AE2226
3521,2022-12-16T08:11:00,31.668,-64.167,137.4,2022-12-16T08:52,31.678,-64.172,138.4,20.100,36.701,2.11,1.05,1.31,3.67,1.01,-2.18,1039901915,2,AE2226

## Metadata

---

In [6]:
raw_meta = cmap_api.get_dataset_metadata("tblBATS_Primary_Production")

In [7]:
raw_meta

,Variable,Table_Name,Long_Name,Unit,Make,Sensor,Process_Level,Study_Domain,Temporal_Resolution,Spatial_Resolution,...,Dataset_Short_Name,Data_Source,Distributor,Dataset_Description,Acknowledgement,Dataset_ID,ID,Visualize,Keywords,Refrences
0,Cruise_ID,tblBATS_Primary_Production,Cruise ID,NaN,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Primary_Production,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,677,17075,NaN,"AE0811, AE0813, AE0820, AE0823, AE0826, AE0829...",NaN
1,dark,tblBATS_Primary_Production,14C Primary Production Dark Bottle,mgC/m^3/day,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Primary_Production,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,677,17072,1.0,"14C Primary Production Dark Bottle, AE0811, AE...",NaN
2,Lat_out,tblBATS_Primary_Production,Latitude of Water Collection Recovery,NaN,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Primary_Production,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,677,17064,NaN,"AE0811, AE0813, AE0820, AE0823, AE0826, AE0829...",NaN
3,Long_out,tblBATS_Primary_Production,Longitude of Water Collection Recovery,NaN,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Primary_Production,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,677,17065,NaN,"AE0811, AE0813, AE0820, AE0823, AE0826, AE0829...",NaN
4,lt1,tblBATS_Primary_Production,14C Primary Production Light Bottle #1,mgC/m^3/day,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Primary_Production,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,677,17069,1.0,"14C Primary Production Light Bottle #1, AE0811...",NaN
5,lt2,tblBATS_Primary_Production,14C Primary Production Light Bottle #2,mgC/m^3/day,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Primary_Production,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,677,17070,1.0,"14C Primary Production Light Bottle #2, AE0811...",NaN
6,lt3,tblBATS_Primary_Production,14C Primary Production Light Bottle #3,mgC/m^3/day,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Primary_Production,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,677,17071,1.0,"14C Primary Production Light Bottle #3, AE0811...",NaN
7,niskin_flag,tblBATS_Primary_Production,Niskin/Goflo Quality Flag,NaN,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Primary_Production,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,677,17076,NaN,"AE0811, AE0813, AE0820, AE0823, AE0826, AE0829...",NaN
8,pp,tblBATS_Primary_Production,Primary Production Mean Light Values - Dark Value,mgC/m^3/day,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Primary_Production,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,677,17074,1.0,"AE0811, AE0813, AE0820, AE0823, AE0826, AE0829...",NaN
9,pres,tblBATS_Primary_Production,Pressure,dbar,Observation,CTD,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Primary_Production,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,677,17066,NaN,"AE0811, AE0813, AE0820, AE0823, AE0826, AE0829...",NaN
10,salt,tblBATS_Primary_Production,Salinity,NaN,Observation,CTD,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Primary_Production,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,677,17068,1.0,"AE0811, AE0813, AE0820, AE0823, AE0826, AE0829...",NaN
11,t0,tblBATS_Primary_Production,14C Primary Production Time Zero,mgC/m^3/day,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Primary_Production,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,677,17073,NaN,"14C Primary Production Time Zero, AE0811, AE08...",NaN
12,temp,tblBATS_Primary_Production,CTD Temperature,C,Observation,CTD,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Primary_Production,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,677,17067,1.0,"AE0811, AE0813, AE0820, AE0823, AE0826, AE0829...",NaN
13,time_out,tblBATS_Primary_Production,Time of Water Collection Recovery,NaN,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Primary_Production,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,677,17063,NaN,"AE0811, AE0813, AE0820, AE0823, AE0826, AE0829...",NaN
14,UNOLS,tblBATS_Primary_Production,UNOLS Cruise Name,NaN,Observation,Uncategorized,Reprocessed,Biogeochemistry,Irregular,Irregular,...,BATS_Primary_Production,Bermuda Institute of Ocean Sciences,Bermuda Institute of Ocean Sciences,The BATS (Bermuda Atlantic Time-series Study) ...,Bermuda Institute of Ocean Sciences,677,17077,NaN,"AE0811, AE0813, AE0820, AE0823, AE0826, AE0829...",NaN

## Export

---

In [8]:
raw_data.to_csv("../../1_raw/bats_primary_production.csv")
raw_meta.to_csv("../../1_raw/bats_primary_production_meta.csv")