In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import xarray as xr

pd.options.plotting.backend = "plotly"

In [2]:
bottle_data = pd.read_csv("../../2_preprocessed/bats_bottle.csv")
pp_data = pd.read_csv("../../2_preprocessed/bats_primary_production.csv")
zpk_data = pd.read_csv("../../2_preprocessed/bats_zooplankton.csv")

## All dataset

In [3]:
bottle_data.head()

,time,latitude,longitude,depth,temperature,ctd salinity,salinity,sigma-theta,oxygen,oxygen fix temp,...,bacteria enumeration,pop,total dissolved phosphorus,Low-level phosphorus,particulate biogenic silica,particulate lithogenic silica,prochlorococcus,synechococcus,picoeukaryotes,nanoeukaryotes
0,1988-10-20 22:30:00,31.783,-64.116,2000.5,3.817,NaN,34.993,27.817,255.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1988-10-20 22:30:00,31.783,-64.116,2200.3,3.577,NaN,34.982,27.833,256.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1988-10-20 22:30:00,31.783,-64.116,2398.9,3.317,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1988-10-20 22:30:00,31.783,-64.116,2600.0,3.127,NaN,34.957,27.859,259.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1988-10-20 22:30:00,31.783,-64.116,2801.7,2.927,NaN,34.944,27.868,261.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
pp_data.head()

,time,latitude,longitude,depth,pressure,ctd temp,salinity from goflo bottle or ctd,14c primary production light bottle #1,14c primary production light bottle #2,14c primary production light bottle #3,14c primary production dark bottle,14c primary production time zero,primary production mean light values - dark value
0,1988-12-18 00:00:00,31.669,-64.049,5.0,NaN,NaN,NaN,7.21,6.59,NaN,0.75,1.26,6.15
1,1988-12-18 00:00:00,31.669,-64.049,25.0,NaN,NaN,NaN,6.00,NaN,NaN,NaN,1.97,NaN
2,1988-12-18 00:00:00,31.669,-64.049,50.0,NaN,NaN,NaN,3.62,2.69,3.19,1.02,1.57,2.15
3,1988-12-18 00:00:00,31.669,-64.049,75.0,NaN,NaN,NaN,2.21,1.40,1.55,1.43,1.47,0.29
4,1988-12-18 00:00:00,31.669,-64.049,100.0,NaN,NaN,NaN,1.15,1.78,8.48,0.95,1.46,2.85

In [5]:
zpk_data.head()

,time,latitude,longitude,size,max depth,duration minutes,volume of water (m^3),wet weight (mg),dry weight (mg),wet weight /volume of water ( mg/m^3),dry weight /volume of water ( mg/m^3),total wet weight/volume for all size fractions (mg/m^3),total dry weight/volume for all size fractions (mg/m^3),wet weight /volume of water ( mg/m^3) normailized for 200m water depth,dry weight /volume of water ( mg/m^3) normailized for 200m water depth,total wet weight/volume for all size fractions (mg/m^3) normailized for 200m water depth,total dry weight/volume for all size fractions (mg/m^3) normailized for 200m water depth
0,1994-04-06 15:58:00,31.564833,-63.874167,200.0,NaN,28,135.501,2460.0,210.4,18.15,1.55,53.73,4.22,3630.98,310.55,10745.33,843.69
1,1994-04-06 15:58:00,31.564833,-63.874167,500.0,NaN,28,135.501,1220.0,120.2,9.00,0.89,53.73,4.22,1800.73,177.42,10745.33,843.69
2,1994-04-06 15:58:00,31.564833,-63.874167,1000.0,NaN,28,135.501,2200.0,110.4,16.24,0.81,53.73,4.22,3247.22,162.95,10745.33,843.69
3,1994-04-06 15:58:00,31.564833,-63.874167,2000.0,NaN,28,135.501,940.0,94.4,6.94,0.70,53.73,4.22,1387.45,139.34,10745.33,843.69
4,1994-04-06 15:58:00,31.564833,-63.874167,5000.0,NaN,28,135.501,460.0,36.2,3.39,0.27,53.73,4.22,678.96,53.43,10745.33,843.69

## Standardize the index of the dataset (daily and 1 degree)

In [6]:
bottle_data = bottle_data.round({"latitude": 0, "longitude": 0})
bottle_data.groupby(["time", "latitude", "longitude", "depth"]).mean()

                                               temperature  ctd salinity  \
time                latitude longitude depth
1988-10-20 22:30:00 32.0     -64.0     2000.5        3.817           NaN
                                       2200.3        3.577           NaN
                                       2398.9        3.317           NaN
                                       2600.0        3.127           NaN
                                       2801.7        2.927           NaN
...                                                    ...           ...
2023-06-24 10:17:00 32.0     -65.0     201.9        19.229        36.638
                                       251.4        19.112        36.639
                                       300.8        18.917        36.632
                                       403.4        18.536        36.584
                                       501.0        17.476        36.395

                                               salinity  sigma-theta  oxygen  \
time                latitude longitude depth
1988-10-20 22:30:00 32.0     -64.0     2000.5    34.993       27.817   255.5
                                       2200.3    34.982       27.833   256.8
                                       2398.9       NaN          NaN     NaN
                                       2600.0    34.957       27.859   259.4
                                       2801.7    34.944       27.868   261.0
...                                                 ...          ...     ...
2023-06-24 10:17:00 32.0     -65.0     201.9        NaN       26.228     NaN
                                       251.4        NaN       26.261     NaN
                                       300.8        NaN       26.309     NaN
                                       403.4        NaN       26.373     NaN
                                       501.0        NaN       26.496     NaN

                                               oxygen fix temp  oxy anomaly  \
time                latitude longitude depth
1988-10-20 22:30:00 32.0     -64.0     2000.5              NaN        -53.2
                                       2200.3              NaN        -53.7
                                       2398.9              NaN          NaN
                                       2600.0              NaN        -54.7
                                       2801.7              NaN        -54.6
...                                                        ...          ...
2023-06-24 10:17:00 32.0     -65.0     201.9              20.7          NaN
                                       251.4              20.6          NaN
                                       300.8              20.4          NaN
                                       403.4              20.1          NaN
                                       501.0              19.1          NaN

                                               dissolved inorganic carbon  \
time                latitude longitude depth
1988-10-20 22:30:00 32.0     -64.0     2000.5                         NaN
                                       2200.3                         NaN
                                       2398.9                         NaN
                                       2600.0                         NaN
                                       2801.7                         NaN
...                                                                   ...
2023-06-24 10:17:00 32.0     -65.0     201.9                          NaN
                                       251.4                          NaN
                                       300.8                          NaN
                                       403.4                          NaN
                                       501.0                          NaN

                                               alkalinity  nitrate+nitrite  \
time                latitude longitude depth
1988-10-20 22:30:00 32.0     -64.0     2000.5         NaN              NaN
                                       2200.3         NaN              NaN
                                       2398.9         NaN              NaN
                                       2600.0         NaN              NaN
                                       2801.7         NaN              NaN
...                                                   ...              ...
2023-06-24 10:17:00 32.0     -65.0     201.9          NaN              NaN
                                       251.4          NaN             1.96
                                       300.8          NaN             2.71
                                       403.4          NaN             3.93
                                       501.0          NaN             6.92

                                               ...  bacteria enumeration  pop  \
time                latitude longitude depth   ...
1988-10-20 22:30:00 32.0     -64.0     2000.5  ...                   NaN  NaN
                                       2200.3  ...                   NaN  NaN
                                       2398.9  ...                   NaN  NaN
                                       2600.0  ...                   NaN  NaN
                                       2801.7  ...                   NaN  NaN
...                                            ...                   ...  ...
2023-06-24 10:17:00 32.0     -65.0     201.9   ...                   NaN  NaN
                                       251.4   ...                   NaN  NaN
                                       300.8   ...                   NaN  NaN
                                       403.4   ...                   NaN  NaN
                                       501.0   ...                   NaN  NaN

                                               total dissolved phosphorus  \
time                latitude longitude depth
1988-10-20 22:30:00 32.0     -64.0     2000.5                         NaN
                                       2200.3                         NaN
                                       2398.9                         NaN
                                       2600.0                         NaN
                                       2801.7                         NaN
...                                                                   ...
2023-06-24 10:17:00 32.0     -65.0     201.9                          NaN
                                       251.4                          NaN
                                       300.8                          NaN
                                       403.4                          NaN
                                       501.0                          NaN

                                               Low-level phosphorus  \
time                latitude longitude depth
1988-10-20 22:30:00 32.0     -64.0     2000.5                   NaN
                                       2200.3                   NaN
                                       2398.9                   NaN
                                       2600.0                   NaN
                                       2801.7                   NaN
...                                                             ...
2023-06-24 10:17:00 32.0     -65.0     201.9                    NaN
                                       251.4                    NaN
                                       300.8                    NaN
                                       403.4                    NaN
                                       501.0                    NaN

                                               particulate biogenic silica  \
time                latitude longitude depth
1988-10-20 22:30:00 32.0     -64.0     2000.5                          NaN
                                       2200.3                          NaN
                                       2398.9                          NaN
                                       2600.0                          NaN
                                       2801.7                          NaN
...                                                                    ...
2023-06-24 10:17:00 32.0     -65.0     201.9                           NaN
                                       251.4                           NaN
                                       300.8                           NaN
                                       403.4                           NaN
                                       501.0                           NaN

                                               particulate lithogenic silica  \
time                latitude longitude depth
1988-10-20 22:30:00 32.0     -64.0     2000.5                            NaN
                                       2200.3                            NaN
                                       2398.9                            NaN
                                       2600.0                            NaN
                                       2801.7                            NaN
...                                                                      ...
2023-06-24 10:17:00 32.0     -65.0     201.9                             NaN
                                       251.4                             NaN
                                       300.8                             NaN
                                       403.4                             NaN
                                       501.0                             NaN

                                               prochlorococcus  synechococcus  \
time                latitude longitude depth
1988-10-20 22:30:00 32.0     -64.0     2000.5              NaN            NaN
                                       2200.3              NaN            NaN
                                       2398.9              NaN            NaN
                                       2600.0              NaN            NaN
                                       2801.7              NaN            NaN
...                                                        ...            ...
2023-06-24 10:17:00 32.0     -65.0     201.9               NaN            NaN
                                       251.4               NaN            NaN
                                       300.8               NaN            NaN
                                       403.4               NaN            NaN
                                       501.0               NaN            NaN

                                               picoeukaryotes  nanoeukaryotes
time                latitude longitude depth
1988-10-20 22:30:00 32.0     -64.0     2000.5             NaN             NaN
                                       2200.3             NaN             NaN
                                       2398.9             NaN             NaN
                                       2600.0             NaN             NaN
                                       2801.7             NaN             NaN
...                                                       ...             ...
2023-06-24 10:17:00 32.0     -65.0     201.9              NaN             NaN
                                       251.4              NaN             NaN
                                       300.8              NaN             NaN
                                       403.4              NaN             NaN
                                       501.0              NaN             NaN

[61530 rows x 27 columns]

In [7]:
pp_data = pp_data.round({"latitude": 0, "longitude": 0})
pp_data.groupby(["time", "latitude", "longitude", "depth"]).mean()

                                              pressure  ctd temp  \
time                latitude longitude depth
1988-12-18 00:00:00 32.0     -64.0     5.0         NaN       NaN
                                       25.0        NaN       NaN
                                       50.0        NaN       NaN
                                       75.0        NaN       NaN
                                       100.0       NaN       NaN
...                                                ...       ...
2023-06-22 06:43:00 32.0     -64.0     59.9       60.3    20.593
                                       79.4       80.0    20.160
                                       99.9      100.6    19.825
                                       120.5     121.4    19.527
                                       139.8     140.8    19.395

                                              salinity from goflo bottle or ctd  \
time                latitude longitude depth
1988-12-18 00:00:00 32.0     -64.0     5.0                                  NaN
                                       25.0                                 NaN
                                       50.0                                 NaN
                                       75.0                                 NaN
                                       100.0                                NaN
...                                                                         ...
2023-06-22 06:43:00 32.0     -64.0     59.9                              36.725
                                       79.4                              36.698
                                       99.9                              36.681
                                       120.5                             36.653
                                       139.8                             36.644

                                              14c primary production light bottle #1  \
time                latitude longitude depth
1988-12-18 00:00:00 32.0     -64.0     5.0                                      7.21
                                       25.0                                     6.00
                                       50.0                                     3.62
                                       75.0                                     2.21
                                       100.0                                    1.15
...                                                                              ...
2023-06-22 06:43:00 32.0     -64.0     59.9                                     8.13
                                       79.4                                     4.97
                                       99.9                                     6.71
                                       120.5                                    3.95
                                       139.8                                    4.11

                                              14c primary production light bottle #2  \
time                latitude longitude depth
1988-12-18 00:00:00 32.0     -64.0     5.0                                      6.59
                                       25.0                                      NaN
                                       50.0                                     2.69
                                       75.0                                     1.40
                                       100.0                                    1.78
...                                                                              ...
2023-06-22 06:43:00 32.0     -64.0     59.9                                     8.76
                                       79.4                                     5.20
                                       99.9                                     4.11
                                       120.5                                    1.97
                                       139.8                                    1.82

                                              14c primary production light bottle #3  \
time                latitude longitude depth
1988-12-18 00:00:00 32.0     -64.0     5.0                                       NaN
                                       25.0                                      NaN
                                       50.0                                     3.19
                                       75.0                                     1.55
                                       100.0                                    8.48
...                                                                              ...
2023-06-22 06:43:00 32.0     -64.0     59.9                                     9.24
                                       79.4                                     4.73
                                       99.9                                     5.29
                                       120.5                                    1.81
                                       139.8                                    4.20

                                              14c primary production dark bottle  \
time                latitude longitude depth
1988-12-18 00:00:00 32.0     -64.0     5.0                                  0.75
                                       25.0                                  NaN
                                       50.0                                 1.02
                                       75.0                                 1.43
                                       100.0                                0.95
...                                                                          ...
2023-06-22 06:43:00 32.0     -64.0     59.9                                 2.53
                                       79.4                                 3.39
                                       99.9                                 4.19
                                       120.5                                2.84
                                       139.8                                1.98

                                              14c primary production time zero  \
time                latitude longitude depth
1988-12-18 00:00:00 32.0     -64.0     5.0                                1.26
                                       25.0                               1.97
                                       50.0                               1.57
                                       75.0                               1.47
                                       100.0                              1.46
...                                                                        ...
2023-06-22 06:43:00 32.0     -64.0     59.9                               2.53
                                       79.4                               1.89
                                       99.9                               4.34
                                       120.5                              3.00
                                       139.8                              3.55

                                              primary production mean light values - dark value
time                latitude longitude depth
1988-12-18 00:00:00 32.0     -64.0     5.0                                                 6.15
                                       25.0                                                 NaN
                                       50.0                                                2.15
                                       75.0                                                0.29
                                       100.0                                               2.85
...                                                                                         ...
2023-06-22 06:43:00 32.0     -64.0     59.9                                                6.18
                                       79.4                                                1.58
                                       99.9                                                1.18
                                       120.5                                              -0.26
                                       139.8                                               1.40

[3561 rows x 9 columns]

In [9]:
zpk_data = zpk_data.round({"latitude": 0, "longitude": 0})
zpk_data.groupby(["time", "latitude", "longitude", "size"]).mean()

                                               max depth  duration minutes  \
time                latitude longitude size
1994-04-06 15:58:00 32.0     -64.0     200.0         NaN              28.0
                                       500.0         NaN              28.0
                                       1000.0        NaN              28.0
                                       2000.0        NaN              28.0
                                       5000.0        NaN              28.0
...                                                  ...               ...
2022-12-13 22:43:00 32.0     -64.0     200.0       102.0              36.0
                                       500.0       102.0              36.0
                                       1000.0      102.0              36.0
                                       2000.0      102.0              36.0
                                       5000.0      102.0              36.0

                                               volume of water (m^3)  \
time                latitude longitude size
1994-04-06 15:58:00 32.0     -64.0     200.0                 135.501
                                       500.0                 135.501
                                       1000.0                135.501
                                       2000.0                135.501
                                       5000.0                135.501
...                                                              ...
2022-12-13 22:43:00 32.0     -64.0     200.0                1498.715
                                       500.0                1498.715
                                       1000.0               1498.715
                                       2000.0               1498.715
                                       5000.0               1498.715

                                               wet weight (mg)  \
time                latitude longitude size
1994-04-06 15:58:00 32.0     -64.0     200.0            2460.0
                                       500.0            1220.0
                                       1000.0           2200.0
                                       2000.0            940.0
                                       5000.0            460.0
...                                                        ...
2022-12-13 22:43:00 32.0     -64.0     200.0            2599.6
                                       500.0            4246.8
                                       1000.0           2469.6
                                       2000.0           1153.0
                                       5000.0          24056.0

                                               dry weight (mg)  \
time                latitude longitude size
1994-04-06 15:58:00 32.0     -64.0     200.0             210.4
                                       500.0             120.2
                                       1000.0            110.4
                                       2000.0             94.4
                                       5000.0             36.2
...                                                        ...
2022-12-13 22:43:00 32.0     -64.0     200.0             385.2
                                       500.0             669.6
                                       1000.0            446.8
                                       2000.0            251.4
                                       5000.0           3169.8

                                               wet weight /volume of water ( mg/m^3)  \
time                latitude longitude size
1994-04-06 15:58:00 32.0     -64.0     200.0                                   18.15
                                       500.0                                    9.00
                                       1000.0                                  16.24
                                       2000.0                                   6.94
                                       5000.0                                   3.39
...                                                                              ...
2022-12-13 22:43:00 32.0     -64.0     200.0                                    1.73
                                       500.0                                    2.83
                                       1000.0                                   1.65
                                       2000.0                                   0.77
                                       5000.0                                  16.05

                                               dry weight /volume of water ( mg/m^3)  \
time                latitude longitude size
1994-04-06 15:58:00 32.0     -64.0     200.0                                    1.55
                                       500.0                                    0.89
                                       1000.0                                   0.81
                                       2000.0                                   0.70
                                       5000.0                                   0.27
...                                                                              ...
2022-12-13 22:43:00 32.0     -64.0     200.0                                    0.26
                                       500.0                                    0.45
                                       1000.0                                   0.30
                                       2000.0                                   0.17
                                       5000.0                                   2.12

                                               total wet weight/volume for all size fractions (mg/m^3)  \
time                latitude longitude size
1994-04-06 15:58:00 32.0     -64.0     200.0                                               53.73
                                       500.0                                               53.73
                                       1000.0                                              53.73
                                       2000.0                                              53.73
                                       5000.0                                              53.73
...                                                                                          ...
2022-12-13 22:43:00 32.0     -64.0     200.0                                               23.04
                                       500.0                                               23.04
                                       1000.0                                              23.04
                                       2000.0                                              23.04
                                       5000.0                                              23.04

                                               total dry weight/volume for all size fractions (mg/m^3)  \
time                latitude longitude size
1994-04-06 15:58:00 32.0     -64.0     200.0                                                4.22
                                       500.0                                                4.22
                                       1000.0                                               4.22
                                       2000.0                                               4.22
                                       5000.0                                               4.22
...                                                                                          ...
2022-12-13 22:43:00 32.0     -64.0     200.0                                                3.28
                                       500.0                                                3.28
                                       1000.0                                               3.28
                                       2000.0                                               3.28
                                       5000.0                                               3.28

                                               wet weight /volume of water ( mg/m^3) normailized for 200m water depth  \
time                latitude longitude size
1994-04-06 15:58:00 32.0     -64.0     200.0                                             3630.98
                                       500.0                                             1800.73
                                       1000.0                                            3247.22
                                       2000.0                                            1387.45
                                       5000.0                                             678.96
...                                                                                          ...
2022-12-13 22:43:00 32.0     -64.0     200.0                                              346.91
                                       500.0                                              566.73
                                       1000.0                                             329.56
                                       2000.0                                             153.87
                                       5000.0                                            3210.22

                                               dry weight /volume of water ( mg/m^3) normailized for 200m water depth  \
time                latitude longitude size
1994-04-06 15:58:00 32.0     -64.0     200.0                                              310.55
                                       500.0                                              177.42
                                       1000.0                                             162.95
                                       2000.0                                             139.34
                                       5000.0                                              53.43
...                                                                                          ...
2022-12-13 22:43:00 32.0     -64.0     200.0                                               51.40
                                       500.0                                               89.36
                                       1000.0                                              59.62
                                       2000.0                                              33.55
                                       5000.0                                             423.00

                                               total wet weight/volume for all size fractions (mg/m^3) normailized for 200m water depth  \
time                latitude longitude size
1994-04-06 15:58:00 32.0     -64.0     200.0                                            10745.33
                                       500.0                                            10745.33
                                       1000.0                                           10745.33
                                       2000.0                                           10745.33
                                       5000.0                                           10745.33
...                                                                                          ...
2022-12-13 22:43:00 32.0     -64.0     200.0                                             4607.28
                                       500.0                                             4607.28
                                       1000.0                                            4607.28
                                       2000.0                                            4607.28
                                       5000.0                                            4607.28

                                               total dry weight/volume for all size fractions (mg/m^3) normailized for 200m water depth
time                latitude longitude size
1994-04-06 15:58:00 32.0     -64.0     200.0                                              843.69
                                       500.0                                              843.69
                                       1000.0                                             843.69
                                       2000.0                                             843.69
                                       5000.0                                             843.69
...                                                                                          ...
2022-12-13 22:43:00 32.0     -64.0     200.0                                              656.94
                                       500.0                                              656.94
                                       1000.0                                             656.94
                                       2000.0                                             656.94
                                       5000.0                                             656.94

[7272 rows x 13 columns]